<section *ngIf="!showScore" class="main-section">
  <div *ngIf="questions">
    <label class="que-no">Javascript Quiz {{number+1}} of {{questions.length}}</label>
    <app-question [question]="questions[number]"></app-question>
  </div>

  <section *ngIf="showSelectOption" class="ans-section">
    <label class="container">
      <input type="radio" name="radio" (click)="selectAns(number, 0)" >
      <span class="checkmark">A</span>
    </label>
    <label class="container">
      <input type="radio" name="radio" (click)="selectAns(number, 1)" >
      <span class="checkmark">B</span>
    </label>
    <label class="container">
      <input type="radio" name="radio"  (click)="selectAns(number, 2)" >
      <span class="checkmark">C</span>
    </label>
    <label class="container">
      <input type="radio" name="radio" (click)="selectAns(number, 3)" >
      <span class="checkmark">D</span>
    </label>
  </section>

  <!-- <button *ngIf="questions" [disabled]="number === 0" (click)="number = number-1">Previous</button> -->
  <button class="next-btn" *ngIf="questions" [disabled]="userAns[number]===undefined || number === questions.length-1" (click)="showNextQuestion()">Next</button>

</section>

<section *ngIf="showScore" class="score-section">
  <table>
    <thead style="padding: 10px 0px;">
      <th>Que.No.</th>
      <th>Question</th>
      <th>Your Answer</th>
    </thead>
    <tbody style="padding: 10px 0px;" *ngFor="let q of questions; let i = index;">
      <td>{{i+1}}</td>
      <td>{{q.text}}</td>
      <td style="color: green;" *ngIf="userAns[i] === q.answer"> Right </td>
      <td style="color: red;" *ngIf="userAns[i] !== q.answer"> Wrong </td>
    </tbody>
  </table>
  <div class="total-score">Total Score is {{totalScore}}</div>
</section>