/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before  {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	background-color: #0f6c51;
	color: #fff;
	// margin: 30px;

	padding: 10px;
	border: 15px solid #652815;
	height: 100vh;
}